.sidenav {
    height: 100%;
    width: 180px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a{
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover{
    color: green;
  }

.initials {
  color:green;
  font-style:italic;
  text-decoration: underline;
}

.main{
  margin-left: 180px;
  padding: 10px 10px;
  font-size: 25px;
  display: flex;
  }

.main1{
  margin-left: 180px;
}

.rotate{
  overflow: hidden;
}

span{
  display: block;
  height: 90%;
  color: orange;
  animation: rotate_words 10s infinite;
}

@keyframes rotate_words{
  10%{
    transform: translateY(-75%);
  }
  25%{
    transform: translateY(-79%);
  }
  35%{
    transform: translateY(-176%);
  }
  50%{
    transform: translateY(-180%);
  }
  60%{
    transform: translateY(-275%);
  }
  75%{
    transform: translateY(-280%);
  }
  85%{
    transform: translateY(-373%);
  }
  100%{
    transform: translateY(-380%);
  }
  
}

.topnav h1, .topnav h2, .topnav h4 {
  margin-top:0;
  text-align: center;
  line-height: 0cm;
  color: white;
  display: block;
} 

.topnav h1 {
  font-size: 50px;
}

/* SKILLS page */

.skills{
  width: 500px;
  margin-left: 180px;
  color: black;
}

.skills li{
  margin: 20px 0;
  list-style: none;
}

.bar{
  display: block;
  height: 2px;
  border: 1px solid rgb(21, 158, 55);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(121, 170, 109);
}

.bar span{
  height: 2px;
  float: left;
  background: #2187e7;
}

.html{
  width: 50%;
  animation: html 2s infinite;
}

.css{
  width: 30%;
  animation: css 2s infinite;
}

.jquery{
  width: 1%;
  animation: jquery 2s infinite;
}

.javascript{
  width: 1%;
  animation: javascript 2s infinite;
}

@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}

@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 30%;
  }
}

@keyframes jquery{
  0%{
    width: 0%;
  }
  100%{
    width: 1%
  }
}

@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 1%
  }
}

/* TRAVEL.html page */
.card {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: transparent;
  color: #f1f1f1;
  width: 83%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
}

.card:hover .overlay {
  opacity: 10;
  font-weight: bold;
}

/* CONTACT page */

.contactinfo {
 text-align: center;
}
 
 form {
   background: rgba(27, 31, 34, 0.80);
   width: 640px;
   margin: 50px auto;
   max-width: 97%;
   border-radius: 4px;
   padding: 55px 30px;
 }
 
 .ContactTitle {
   letter-spacing: 5px;
   border-bottom: 1px solid gold;
   display: inline-block;
   padding-bottom: 5px;
   margin-bottom: 25px;
 }
 
 .contact-half.contact-2half {
   display: flex;
   margin-bottom: 24px;
   width: 48%;
 }
 
 form label {
   display: block;
   font-size: 15px;
   letter-spacing: 3.0px;
   margin-bottom: 16px;
 }
 
 .contact-half input, .contact-2half input {
   border-radius: 4px;
   border: 1px solid white;
   outline: 0;
   padding: 16px;
   width: 100%;
   height: 44px;
   background: transparent;
   font-size: 17px;
 }
 
 .contact-message {
   margin-bottom: 24px;
 }
 
 .contact-message textarea {
   background: transparent;
   border-radius: 4px;
   border: 1px solid white;
   outline: 0;
   padding: 12px 16px;
   width: 100%;
   height: 200px;
   font-size: 17px;
 }
 
 .contact-action{
   margin-bottom: 32px;
 }
 
 .contact-action input {
   background: transparent;
   border-radius: 4px;
   border: 1px solid gold;
   cursor: pointer;
   font-size: 17px;
   font-weight: 600;
   height: 44px;
   letter-spacing: 3.0px;
   outline: 0;
   padding: 0 20px 0 20px;
   margin-right: 10px;
 }
 
 .contact-action input[type="submit"] {
   background: white;
   color: grey;
 }
 
 .contact-action input[type="submit"]:hover {
   background: grey;
   color: white;
 }
 